.color {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    display: inline-block;
}

.color:nth-child(1) {
    background-color: black;
}

.color:nth-child(2) {
    background-color: #FAC2A0;
}

.color:nth-child(3) {
    background-color: #FAE46E;
}

.color:nth-child(4) {
    background-color: #7AF9FA;
}

#pixel-board {
    padding: auto;
    margin: auto;
    width: auto;
    height: auto;
}

.pixel {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    display: inline-block;
    background-color: white;
}