.color {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    display: inline-block;
}

#pixel-board {
    width: 210px;
    height: 230px;
    display: block;
}

.pixel {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    float: left;
    background-color: white;
}

#section-button {
    padding-block: 10px;
}