header {
    padding-top: 25px;
    text-align: center;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.color {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    display: inline-block;
}

#pixel-board {
    width: 210px;
    height: 210px;
    display: inline-block;
    padding-top: 10px;
}

.pixel {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    background-color: white;
    float: left;
}

#section-button {
    padding-top: 5px;
}